/* ****************** MAIN PAGE *********************** */
/* **************************************************** */

/* ****************** MAIN PAGE HEADER ************************** */

@keyframes headerIn {
  0% {
   transform: scale(0.3) translate(0, -300%);
  }
  100% {
   transform: translate(0, 0);
  }
}

@keyframes headerOut {
  0% {
   transform: translate(0, 0) scale(1);
  }
  100% {
   transform: translate(0, -100%) scale(0.3);
  }
}

@keyframes headerLogoIn {
  0% {
   transform: translate(0, -250%) scale(0.7);
}
  100% {
   transform: translate(0, 0) scale(1);
  }
}

@keyframes headerTextIn {
  0% {
   color: transparent;
}
  100% {
   color: black;
  }
}

/* ****************** MENU ************************** */

@keyframes contact {
  0% {
   transform: translate(300%, 0) rotate(45deg) ;
  }
  100% {
   transform: translate(0, 0) rotate(45deg) ;
  }
}

@keyframes peppers {
  0% {
   transform: translate(-300%, 0) rotate(45deg);
  }
  100% {
   transform: translate(0, 0) rotate(45deg);
  }
}

@keyframes growing {
  0% {
   transform: translate(-220%, 0) rotate(45deg);
  }
  100% {
   transform: translate(0, 0) rotate(45deg);
  }
}

@keyframes aboutUs {
  0% {
   transform: translate(220%, 0) rotate(45deg);
  }
  100% {
   transform: translate(0, 0) rotate(45deg);
  }
}

@keyframes home {
  0% {
   transform: scale(15) rotate(45deg);
   border: 3rem solid black;
 }
  100% {
   transform: scale(1.4) rotate(225deg);
  }
}

@keyframes spices {
  0% {
   transform: translate(-100%, 0) rotate(45deg);
  }
  100% {
   transform: translate(0, 0) rotate(45deg);
  }
}

@keyframes fertilizing {
  0% {
   transform: translate(100%, 0) rotate(45deg);
  }
  100% {
   transform: translate(0, 0) rotate(45deg);
  }
}

@keyframes menuPeppersBefore {
  0% {
   transform: translate(400%, 0) scale(0.3);
  }
  100% {
   transform: translate(0, 0) scale(2.3) rotate(35deg);
  }
}

@keyframes menuPeppersAfter {
  0% {
   transform: translate(-400%, 0) scale(0.3);
  }
  100% {
   transform: translate(0, 0) scale(2.3) rotate(-35deg);
  }
}

@keyframes sectionOut {
  0% {
   transform: translate(0, 0);
}
  100% {
   transform: translate(100%, 0);
  }
}

/* ****************** MAIN PAGE FOOTER ************************** */

@keyframes footerIn {
  0% {
    transform: scale(0.1) translate(0, 320%) rotate(180deg);
  }
  100% {
    transform: scale(1) translate(0, 25%) rotate(180deg);
  }
}

@keyframes footerOut {
  0% {
    transform: scale(1) translate(0, 25%);
  }
  100% {
    transform: scale(0.1) translate(0, -320%);
  }
}

/* ****************** ABOUT US ************************ */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */

/* *************** ABOUT US HEADER ******************** */

@keyframes aboutUsHeaderIn {
  0% {
   transform: translate(0, 300%) scale(0.1);
 }
  100% {
  transform: translate(0, -30%) scale(2);
  }
}

@keyframes aboutUsTitleTextIn {
  0% {
   color: transparent;
 }
  100% {
  color: black;
  }
}

@keyframes aboutUsHeaderOut {
  0% {
   transform: translate(0, -30%) scale(2);
 }
  100% {
  transform: translate(0, -300%) scale(0.1);
  }
}

/* *************** ABOUT US SECTION ******************** */

@keyframes aboutUsSectionIn {
  0% {
   transform: translate(350%, 0);
 }
  100% {
  transform: translate(0, -35%);
  }
}

@keyframes aboutUsSectionOut {
  0% {
   transform: translate(0, -35%);
 }
  100% {
  transform: translate(-300%, 0);
  }
}

/* *************** ABOUT US FOOTER ******************** */
@keyframes aboutUsFooterIn {
  0% {
   transform: translate(0, 0);
 }
  100% {
  transform: translate(0, -90%) scale(0.65);
  }
}

@keyframes aboutUsFooterBackIn {
  0% {
   transform: translate(0, 0) scale(1);
 }
50% {
  transform: translate(200%, -400%) scale(20) rotate(180deg);
}
  65% {
    background-image: url("../images/cayenne.jpg");
}
  100% {
  transform: translate(0, 0) scale(0.6) rotate(-45deg);
  background-image: none;
  background-color: red;
  }
}

@keyframes aboutUsFooterOut {
  0% {
   transform: translate(0, -90%) scale(0.65);
 }
  100% {
  transform: translate(0, 200%) scale(0.1);
  }
}
/* ****************** GROWING ************************ */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */

/* *************** GROWING HEADER ******************** */

@keyframes growingHeaderIn {
  0% {
   transform: translate(0, 300%) scale(0.1);
 }
  100% {
  transform: translate(0, -30%) scale(2);
  }
}

@keyframes growingTitleTextIn {
  0% {
   color: transparent;
 }
  100% {
  color: black;
  }
}

@keyframes growingHeaderOut {
  0% {
   transform: translate(0, -30%) scale(2);
 }
  100% {
  transform: translate(0, -300%) scale(0.1);
  }
}

/* *************** GROWING SECTION ******************** */

@keyframes growingSectionIn {
  0% {
   transform: translate(300%, 0);
 }
  100% {
  transform: translate(0, -60%);
  }
}

@keyframes growingSectionOut {
  0% {
   transform: translate(0, -60%);
 }
  100% {
  transform: translate(300%, -60%);
  }
}

@keyframes growingMiddleImageIn {
  0% {
   transform: translate(0, 30%) scale(0);
 }
  100% {
  transform: translate(0, 0) scale(0.9);
  }
}

  @keyframes growingColumnImageLeftIn {
    0% {
     transform: translate(-500%, 0) rotate(235deg);
   }
    100% {
    transform: translate(0, 0) rotate(45deg);
    }
}

    @keyframes growingColumnImageRightIn {
      0% {
       transform: translate(500%, 0) rotate(235deg);
     }
      100% {
      transform: translate(0, 0) rotate(45deg);

      }
    }

/* *************** GROWING FOOTER ******************** */

@keyframes growingFooterIn {
  0% {
   transform: translate(0, 0);
 }
  100% {
  transform: translate(0.5%, -100%) scale(0.75);
  }
}

@keyframes growingFooterBackIn {
  0% {
   transform: translate(0, 0) scale(1);
   color: transparent;
 }
50% {
  transform: translate(200%, -400%) scale(20) rotate(180deg);
}
  65% {
  background-image: url("../images/chiliPlant2.jpg");
}
  100% {
  transform: translate(0, 0) scale(0.6) rotate(-45deg);
  background-image: none;
  background-color: red;
  color: white;
  }
}

@keyframes growingFooterOut {
  0% {
   transform: translate(0.5%, -100%) scale(0.75);
 }
  100% {
  transform: translate(0, 100%) scale(0.1);
  }
}

/* ****************** PEPPERS ************************ */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */

/* *************** PEPPERS HEADER ******************** */

@keyframes peppersHeaderIn {
  0% {
   transform: translate(200%, -30%) scale(0.1);
 }
  100% {
  transform: translate(0, -30%) scale(2);
  }
}

@keyframes peppersTitleTextIn {
  0% {
   color: transparent;
 }
  100% {
  color: black;
  }
}

@keyframes peppersHeaderOut {
  0% {
   transform: translate(0, -30%) scale(2);
 }
  100% {
  transform: translate(-200%, -30%) scale(0.1);
  }
}

/* *************** PEPPERS SECTION ******************** */

@keyframes peppersSectionIn {
  0% {
   transform: translate(-200%, 200%);
 }
  100% {
  transform: translate(0, -55%);
  }
}

@keyframes peppersSectionOut {
  0% {
   transform: translate(0, -55%);
 }
  100% {
  transform: translate(200%, -200%);
  }
}

@keyframes peppersCol1Scale {
  0% {
  height: 0;
  position: absolute;
    top: 89%;
    left: 18%;
 }
  100% {
 height: 14%;
 position: absolute;
   top: 75%;
   left: 18%;
  }
}

@keyframes peppersCol2Scale {
  0% {
  height: 0;
  position: absolute;
    top: 89%;
    left: 18%;
 }
  100% {
 height: 60%;
 position: absolute;
   top: 26%;
   left: 18%;
  }
}

@keyframes peppersCol3Scale {
  0% {
  height: 0;
  position: absolute;
    top: 89%;
    left: 18%;
 }
  100% {
 height: 35%;
 position: absolute;
   top: 51%;
   left: 18%;
  }
}

@keyframes peppersCol4Scale {
  0% {
  height: 0;
  position: absolute;
    top: 89%;
    left: 18%;
 }
  100% {
 height: 55%;
 position: absolute;
   top: 31%;
   left: 19%;
  }
}

@keyframes pepperColumnImageIn {
  0% {
transform: scale(0) rotate(235deg);
 }
 100% {
transform: scale(1) rotate(45deg);
  }
}

/* *************** PEPPERS FOOTER ******************** */
@keyframes peppersFooterIn {
  0% {
   transform: translate(0, 0);
 }
  100% {
  transform: translate(0, 64%) scale(0.60);
  }
}

@keyframes peppersFooterBackIn {
  0% {
   transform: translate(0, 0) scale(1);
 }
50% {
  transform: translate(200%, -400%) scale(20) rotate(180deg);
}
65% {
  background-image: url("../images/paprika1.jpg");
}
  100% {
  transform: translate(0, 0) scale(0.6) rotate(-45deg);
  background-image: none;
  background-color: red;
  }
}

@keyframes peppersFooterOut {
  0% {
   transform: translate(0, 64%) scale(0.6);
 }
  100% {
  transform: translate(-200%, 0) scale(0.1);
  }
}

/* ****************** CONTACT ************************ */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */

/* *************** CONTACT HEADER ******************** */
@keyframes contactHeaderIn {
  0% {
   transform: translate(-300%, 300%) scale(0.1);
 }
  100% {
  transform: translate(0, -30%) scale(2);
  }
}

@keyframes contactTitleTextIn {
  0% {
   color: transparent;
 }
  100% {
  color: black;
  }
}

@keyframes contactHeaderOut {
  0% {
   transform: translate(0, -30%) scale(2);
 }
  100% {
  transform: translate(0, -300%) scale(0.1);
  }
}

/* *************** CONTACT SECTION ******************** */

@keyframes contactSectionIn {
  0% {
   transform: translate(250%, -250%);
 }
  100% {
  transform: translate(0, -67%);
  }
}

@keyframes contactSectionOut {
  0% {
   transform: translate(0, -67%);
 }
  100% {
  transform: translate(-300%, 0);
  }
}

/* *************** CONTACT FOOTER ******************** */
@keyframes contactFooterIn {
  0% {
   transform: translate(0, 0);
 }
  100% {
  transform: translate(0, -26%) scale(0.60);
  }
}

@keyframes contactFooterBackIn {
  0% {
   transform: translate(0, 0) scale(1);
 }
50% {
  transform: translate(200%, -400%) scale(20) ;
}
65% {
  background-image: url("../images/contact.jpg");
}
  100% {
  transform: translate(0, 0) scale(0.6) rotate(180deg);
  background-image: none;
  background-color: red;
  }
}

@keyframes contactFooterOut {
  0% {
   transform: translate(0, -47%);
 }
  100% {
  transform: translate(300%, 0) scale(0.1);
  }
}

/* ****************** FERTILIZING ************************ */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */

/* *************** FERTILIZING HEADER ******************** */
@keyframes fertilizingHeaderIn {
  0% {
   transform: translate(-200%, -35%) scale(0.1);
 }
  100% {
  transform: translate(0, -35%) scale(2);
  }
}

@keyframes fertilizingTitleTextIn {
  0% {
   color: transparent;
 }
  100% {
  color: black;
  }
}

@keyframes fertilizingHeaderOut {
  0% {
   transform: translate(0, -35%) scale(2);
 }
  100% {
  transform: translate(0, -300%) scale(0.3);
  }
}

/* *************** FERTILIZING SECTION ******************** */

@keyframes fertilizingSectionIn {
  0% {
   transform: translate(0, -400%);
 }
  100% {
  transform: translate(0, -60%);
  }
}

@keyframes fertilizingSectionOut {
  0% {
   transform: translate(0, -60%);
 }
  100% {
  transform: translate(-300%, 0);
  }
}

@keyframes fertilizingUnderImagePeppersIn {
  0% {
   transform: translate(0, -80%) scale(0);
 }
 50% {
   transform: translate(0, -50%) scale(0);
 }
  100% {
  transform: translate(0, 0) scale(1.15);
  }
}

@keyframes fertilizingColumnImage1In {
  0% {
   transform: translate(0, -600%) scale(0) rotate(235deg);
 }
  100% {
  transform: translate(0, 0) scale(1) rotate(45deg);
  }
}

@keyframes fertilizingColumnImage2In {
  0% {
   transform: translate(-600%, 0) scale(0) rotate(235deg);
 }
  100% {
  transform: translate(0, 0) scale(1) rotate(45deg);
  }
}

@keyframes fertilizingColumnImage3In {
  0% {
   transform: translate(0, 600%) scale(0) rotate(235deg);
 }
  100% {
  transform: translate(0, 0) scale(1) rotate(45deg);
  }
}

@keyframes fertilizingColumnImage4In {
  0% {
   transform: translate(600%, 0) scale(0) rotate(235deg);
 }
  100% {
  transform: translate(0, 0) scale(1) rotate(45deg);
  }
}


/* *************** FERTILIZING FOOTER ******************** */
@keyframes fertilizingFooterIn {
  0% {
   transform: translate(0, 150%);
 }
  100% {
  transform: translate(0, 60%) scale(0.65);
  }
}

@keyframes fertilizingFooterBackIn {
  0% {
   transform: translate(0, 0) scale(1);
 }
50% {
  transform: translate(100%, 100%) scale(22) rotate(180deg);
}
65% {
  background-image: url("../images/fertilize.jpg");
}
  100% {
  transform: translate(0, 0) scale(0.7) rotate(-45deg);
  background-image: none;
  background-color: red;
  }
}

@keyframes fertilizingFooterOut {
  0% {
   transform: translate(0, 60%) scale(0.65);
 }
  100% {
  transform: translate(0, 200%) scale(0.3);
  }
}

/* ****************** SPICES ************************ */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */

/* *************** SPICES HEADER ******************** */

@keyframes spicesHeaderIn {
  0% {
   transform: translate(300%, 300%) scale(0.1);
 }
  100% {
  transform: translate(0, -30%) scale(2);
  }
}

@keyframes spicesTitleTextIn {
  0% {
   color: transparent;
 }
  100% {
  color: black;
  }
}

@keyframes spicesHeaderOut {
  0% {
   transform: translate(0, -35%) scale(2);
 }
  100% {
  transform: translate(0, -300%) scale(0.3);
  }
}

/* *************** SPICES SECTION ******************** */

@keyframes spicesSectionIn {
  0% {
   transform: translate(0, -400%);
 }
  100% {
  transform: translate(0, -66%) scale(0.8);
  }
}

@keyframes spicesSectionOut {
  0% {
   transform: translate(0, -66%) scale(0.8);
 }
  100% {
  transform: translate(-300%, 0);
  }
}

@keyframes img1In {
  0% {
   transform: translate(-200%, -300%) scale(0.1);
 }
  100% {
  transform: translate(0, 0) rotate(45deg) scale(1);
  }
}


@keyframes img2In {
  0% {
   transform: translate(-400%, 0) rotate(-135deg);
 }
  100% {
  transform: translate(0, 0) rotate(45deg) scale(1);
  }
}

@keyframes img3In {
  0% {
   transform: translate(-200%, 300%) scale(0.1) rotate(270deg);
 }
  100% {
  transform: translate(0, 0) rotate(45deg);
  }
}

@keyframes img5In {
  0% {
   transform: translate(200%, -300%) scale(0.1);
 }
  100% {
  transform: translate(0, 0) rotate(45deg) scale(1);
  }
}

@keyframes img6In {
  0% {
   transform: translate(400%, 0) rotate(-135deg);
 }
  100% {
  transform: translate(0, 0) rotate(45deg) scale(1);
  }
}

@keyframes img7In {
  0% {
   transform: translate(200%, 300%) scale(0.1) rotate(270deg);
 }
  100% {
  transform: translate(0, 0) rotate(45deg);
  }
}

@keyframes spicesTextIn {
  0% {
   color: transparent;
 }
  100% {
   color: black;
  }
}

/* *************** SPICES FOOTER ******************** */

@keyframes spicesFooterIn {
  0% {
   transform: translate(0, 200%);
 }
  100% {
  transform: translate(0, -140%) scale(0.8);
  }
}

@keyframes spicesFooterBackIn {
  0% {
   transform: translate(0, 0) scale(1);
 }
50% {
  transform: translate(100%, 100%) scale(24) rotate(180deg);
}
  65% {
    background-image: url("../images/spices1.jpg");
}
  100% {
  transform: translate(0, 0) scale(0.7) rotate(-45deg);
  background-image: none;
  background-color: red;
  }
}

@keyframes spicesFooterOut {
  0% {
   transform: translate(0, 50%) scale(0.65);
 }
  100% {
  transform: translate(-200%, -200%) scale(0.1);
  }
}
