@import "css/mixins";
/* ******************  CONTACT HEADER *************************** */

.contactHeader {
  @include header;
  @include imageContain;
}

.contactTitle {
  @include headerTitle;
}

.contactHeaderPeppers {
  @include headerPeppers;
}

.contactTitleText {
  @include headerText;
}

/* *************  CONTACT HEADER ANIMATION CLASSES ************** */
.contactHeaderIn {
  animation: contactHeaderIn 2.3s 0.7s ease-out both;
}

.contactHeaderOut {
  animation: contactHeaderOut 1.3s 0.2s ease-out both;
}

.contactTitleTextIn {
  animation: contactTitleTextIn 2s 3.2s ease-out both;
}

/* ******************  CONTACT SECTION *************************** */
.contactSection {
  width: 100%;
  height: 55%;
  position: relative;
}

form {
  z-index: 2;

}

input {
  font-family:'Passion One', sans-serif;
  width: 40%;
  height: 3rem;
  display: block;
  border: 5px solid lightgrey;
  letter-spacing: 0.05em;
  margin: 0 auto;
  margin-bottom: 1%;
  color: lightgrey;
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 1;
}

textarea {
  font-family:'Passion One', sans-serif;
  width: 40%;
  height: 15%;
  font-size: 1.5rem;
  margin: 0 auto;
  letter-spacing: 0.05em;
  border: 5px solid lightgrey;
  color: lightgrey;
  display: block;
  z-index: 1;
}

.contactButon {
   width: 23rem;
   height: 3.5rem;
   background-color: red;
   font-size: 2rem;
   border: 5px solid white;
   color: white;
   font-family:'Passion One', sans-serif;
   font-weight: 500;
   margin: 0 auto;
   position: absolute;
     top: 91%;
     left: 40%
}

.contactSectionImage {
  background-image: url("../images/chillis3.jpg");
  z-index: 0;
  width: 16rem;
  height: 16rem;
  @include imageContain;
  position: absolute;
    top: 72%;
    left: 43%;
}

/* *************  CONTACT SECTION ANIMATION CLASSES ************** */
.contactSectionIn {
  animation: contactSectionIn 1.4s 1.6s ease-out both;
}

.contactSectionOut {
  animation: contactSectionOut 1.3s 0.2s ease-out both;
}

/* ******************  CONTACT FOOTER *************************** */
.contactFooter {
  @include Footer;
  @include imageContain;
  position: absolute;
    bottom: -9%;
    transform: scale(0.5);
}

.contactFooterBack {
  background-image: url("../images/contact.jpg");
  @include FooterBack;
  }

.contactFooterBackText {
@include FooterBackText;
  position: absolute;
    top: 4.2rem;
    left: 2.4rem;
}

.contactFooterBackText:hover {
  @include footerBackTextHover;
}

/* *************  CONTACT FOOTER ANIMATION CLASSES ************** */
.contactFooterIn {
  animation: contactFooterIn 1.5s 2s ease-out both;
}

.contactFooterBackIn {
  animation: contactFooterBackIn 2.5s 0.1s ease-out both;
}

.contactFooterOut {
  animation: contactFooterOut 1.3s 0.2s ease-out both;
}
