@import "mixins";
/* *************** SPICES HEADER ******************** */
.spicesHeader {
  @include header;
  @include imageContain;
}

.spicesTitle {
  @include headerTitle;
}

.spicesHeaderPeppers {
  @include headerPeppers;
}

.spicesTitleText {
  @include headerText;
  position: absolute;
    top: 35%;
    left: 36%;
}

/* ********* SPICES HEADER ANIMATIONS *************** */

.spicesHeaderIn {
  animation: spicesHeaderIn 2.3s 1.4s ease-out both;
}

.spicesHeaderOut {
  animation: spicesHeaderOut 1.5s 0.1s ease-out both;
}

.spicesTitleTextIn {
  animation: spicesTitleTextIn 2.5s 3s ease-out both;
}

/* *************** SPICES SECTION ******************** */

.spicesSection {
  width: 100;
  height: 50%;
  @include spicesSectionGradient;
  position: relative;
}

.spicesImage {
   transform: rotate(45deg);
   border: 0.8rem solid white;
    display: inline;
    float: left;
    position: absolute;
}

.img1 {
    top: -2.5%;
    left: 26.8%;
  width: 12rem;
  height: 12rem;
  background-image: url("../images/powder2.jpg");
    background-size: cover;
}

.img1 p {
  @include spicesPar;
    top: 8%;
    left: -97%;
}

.img2 {
    top: 22.5%;
    left: 12%;
  width: 17rem;
  height: 17rem;
  background-image: url("../images/salsa1.jpg");
  background-size: cover;
  background-position: center;
}

.img2 p {
  @include spicesPar;
  transform: rotate(-45deg);
    top: 99%;
    left: -54%;
}

.img3 {
    top: 64.5%;
    left: 26.7%;
  width: 12rem;
  height: 12rem;
  background-image: url("../images/flakes1.jpg");
  background-size: cover;
}

.img3 p {
  @include spicesPar;
  transform: rotate(-90deg);
    top: 111%;
    left: 17%;
}

.img4 {
    top: 10%;
    left: 38.5%;
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  background-image: url("../images/spicesPeppers.jpg");
  background-size: cover;
}

.img4 p {
  @include spicesPar;
    top: 8%;
    left: -97%;
}

.img5 {
    top: -2.5%;
    left: 61.3%;
  width: 12rem;
  height: 12rem;
  background-image: url("../images/sambal.jpg");
  background-size: cover;
  background-position: center;
}

.img5 p {
  @include spicesPar;
    transform: rotate(-90deg);
    top: -100%;
    left: 11%;
}

.img6 {
    top: 22.7%;
    left: 71.5%;
  width: 17rem;
  height: 17rem;
  background-image: url("../images/habaneroSauce.jpg");
  background-size: cover;
  background-position: center;
}

.img6 p {
  @include spicesPar;
    transform: rotate(-45deg);
    top: -61%;
    left: 106%;
}

.img7 {
    top: 64.5%;
    left: 61.3%;
  background-image: url("../images/pickle1.jpg");
  background-size: cover;
  background-position: center;
  width: 12rem;
  height: 12rem;
}

.img7 p {
  @include spicesPar;
    top: 7%;
    left: 117%;
}

/* ********** SPICES SECTION ANIMATIONS ************** */

.spicesSectionIn {
  animation: spicesSectionIn 1.7s 1s ease-out both;
}

.spicesSectionOut {
  animation: spicesSectionOut 1.2s 1s ease-out both;
}

.img1In {
  animation: img1In 1.5s 3.8s ease-out both;
}

.img2In {
  animation: img2In 1.7s 2.6s ease-out both;
}

.img3In {
  animation: img3In 1.6s 4.1s ease-out both;
}

.img5In {
  animation: img5In 1.5s 3.8s ease-out both;
}

.img6In {
  animation: img6In 1.7s 2.6s ease-out both;
}

.img7In {
  animation: img7In 1.6s 4.1s ease-out both;
}

.spicesTextIn {
  animation: spicesTextIn 1.6s 4.8s ease-out both;

}


/* *************** SPICES FOOTER ******************** */
.spicesFooter {
  @include Footer;
  @include imageContain;
  position: relative;
}

.spicesFooterBack {
  background-image: url("../images/spices1.jpg");
  @include FooterBack;
}

.spicesFooterBackText {
@include FooterBackText;
position: absolute;
  top: 33%;
  left: 20%;
}

.spicesFooterBackText:hover {
  @include footerBackTextHover;
}

/* ********** SPICES FOOTER ANIMATIONS ************** */

.spicesFooterIn {
  animation: spicesFooterIn 1.7s 1.3s ease-out both;
}

.spicesFooterBackIn {
  animation: spicesFooterBackIn 2.7s 0.1s ease-out both;
}

.spicesFooterOut {
  animation: spicesFooterOut 1.5s 0.1s ease-out both;
}
